body {
    background-color: #e2e2e2;
}

input#text-input {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 25%;
    font-size: 1.3rem;
    outline: none;
}

input#add {
    border: none;
    background-color: #81ff96;
    padding: 10px;
    width: 5%;
    color: #ffffff;
    position: relative;
    left: 24.8%;
    outline: none;
    font-size: 1.3rem;
    border-radius: 0 10px 10px 0;
}

input#add:hover {
    background-color: #6edc78;
}

#todo {
    background-color: white;
    width: 35%;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    top: 10px;
    left: 25%;
}

#todo p {
    user-select: none;
    font-size: 1.3rem;
    list-style-type: none;
    position: relative;
    left: 5%;
}

p.line-through {
    text-decoration: line-through;
}